---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

// Expand main content area to use full width when TOC is disabled
.page {
  float: left;

  @include breakpoint($large) {
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }
}

// Make article body text slightly smaller
.page__content {
  font-size: 0.75em;

  p, li, td, th, dd, dt {
    font-size: 0.9em;
  }
}
