name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn -B verify
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: jsonapi4j-report/target/site/jacoco-aggregate/jacoco.xml
          token: ${{ secrets.CODECOV_TOKEN }}
